@import url('https://use.typekit.net/vym6yib.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .menuToggle{
    @apply block relative z-40 select-none;
    input{
      @apply block w-10 h-8 absolute top-[-7px] left-[-5px] cursor-pointer opacity-0 z-50;
    }
    input:checked~span{
      opacity: 1;
      background-color: white;
      transform: rotate(45deg) translate(-10px, -20px);
    }
    input:checked~span:nth-last-child(2){
      transform: rotate(-45deg) translate(1px, 10px);
    }
    input:checked~span:nth-last-child(3){
        opacity: 0;
          transform: rotate(0deg) scale(0.2, 0.2);
    }
    span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #232323;
    border-radius: 3px;
    z-index: 40;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
      opacity 0.55s ease;
    }
    span:first-child{
      transform-origin: 0% 0%;
    }
    span:nth-last-child(2){
      transform-origin: 0% 100%;
    }
  }
  .nav-hamb-items {
    @apply text-sm;
    a {
      @apply flex leading-10 relative items-center pl-8 text-white no-underline cursor-pointer font-bold text-xl;
      span {
        @apply pr-2;
      }
    }
  }

  .nav-ham-drop-items {
    @apply pt-3 pr-5 pl-7 text-sm block text-white no-underline cursor-pointer font-bold;
  }

  .container {
    @apply w-full px-5 mx-auto sm:max-w-[540px] md:max-w-[720px] lg:max-w-[1024px] xl:max-w-[1200px] 2xl:max-w-[1400px];
  } 

  .btn {
    @apply text-sm leading-[1.5] text-center relative transition-all duration-300 ease-linear cursor-pointer uppercase font-bold py-4 px-11;
  }
  .btn-primary {
    @apply text-white bg-accent-color border-accent-color border;
  }

  .btn-outline-primary {
    @apply text-accent-color border-accent-color bg-transparent border-2;
  }

  .text-primary {
    @apply text-accent-color font-bold;
  }

  .indicator {
    @apply border h-[64px] w-[64px] flex flex-col items-center justify-center;

    h5 {
      @apply text-accent-color font-bold;
    }
  }

  .stroke {
    @apply mt-2 w-9 border-4 border-accent-color rounded-[30px];
  }

  .label {
    @apply mx-auto p-6 bg-[#262626] rounded;
  }

  .section {
    @apply my-20;
  }

  .footer {
    @apply h-full bg-slate-800 pt-6 block;
  }
 
  .form-control {
    @apply block w-full text-base font-light leading-[1.5] text-[#495057] bg-white transition-all duration-150 ease-in-out py-[14px] px-6 h-full focus:border-accent-color;
  }

  .header {
    @apply shadow-lg w-full z-20 top-0 flex justify-start flex-wrap items-center text-xl h-[80px] border-none font-medium ;
  }

  .quantity-buttons {
    @apply cursor-pointer p-1 mr-4 border-0;
  }

  .filters-mob {
    @apply fixed z-20 bg-white rounded-lg shadow-lg p-5 py-7 w-[90%] left-1/2 top-40 transform translate-x-[-50%] max-w-[500px] md:hidden;
  }

  .filters-desktop {
    all: unset;
    /* prettier-ignore */
    @apply col-span-1 hidden md:block;  
  }
  .dark-bg{
    @apply bg-slate-800 text-white;
    span{
      @apply bg-white;
    }
    li{
      @apply text-white;
      a{
      @apply text-white;
      }
    }
    p{
      @apply text-gray-200 hover:text-white;
    }
    th{
      @apply text-white;
    }
    h2, h3, h4 {
      @apply text-white;
    }
  }
  .dark-bg2 {
    @extend .dark-bg;
    @apply bg-slate-700
  }
  .dark-text{
    @apply bg-slate-600 text-white;
    a{
      @apply text-white 
    }
  }
  // .loader {
  //     animation: rotate 1s infinite;
  //     height: 50px;
  //     width: 50px;
  //   }
  
  //   .loader:before,
  //   .loader:after {
  //     border-radius: 50%;
  //     content: '';
  //     display: block;
  //     height: 20px;
  //     width: 20px;
  //   }
  
  //   .loader:before {
  //     animation: ball1 1s infinite;
  //     background-color: #cb2025;
  //     box-shadow: 30px 0 0 #f8b334;
  //     margin-bottom: 10px;
  //   }
  
  //   .loader:after {
  //     animation: ball2 1s infinite;
  //     background-color: #00a096;
  //     box-shadow: 30px 0 0 #97bf0d;
  //   }
  // @keyframes rotate {
  //   0% {
  //     -webkit-transform: rotate(0deg) scale(0.8);
  //     -moz-transform: rotate(0deg) scale(0.8);
  //   }

  //   50% {
  //     -webkit-transform: rotate(360deg) scale(1.2);
  //     -moz-transform: rotate(360deg) scale(1.2);
  //   }

  //   100% {
  //     -webkit-transform: rotate(720deg) scale(0.8);
  //     -moz-transform: rotate(720deg) scale(0.8);
  //   }
  // }

  // @keyframes ball1 {
  //   0% {
  //     box-shadow: 30px 0 0 #f8b334;
  //   }

  //   50% {
  //     box-shadow: 0 0 0 #f8b334;
  //     margin-bottom: 0;
  //     -webkit-transform: translate(15px, 15px);
  //     -moz-transform: translate(15px, 15px);
  //   }

  //   100% {
  //     box-shadow: 30px 0 0 #f8b334;
  //     margin-bottom: 10px;
  //   }
  // }

  // @keyframes ball2 {
  //   0% {
  //     box-shadow: 30px 0 0 #97bf0d;
  //   }

  //   50% {
  //     box-shadow: 0 0 0 #97bf0d;
  //     margin-top: -20px;
  //     -webkit-transform: translate(15px, 15px);
  //     -moz-transform: translate(15px, 15px);
  //   }

  //   100% {
  //     box-shadow: 30px 0 0 #97bf0d;
  //     margin-top: 0;
  //   }
  // }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: montserrat, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #262626;
  font-display: swap;
  height: 100%;
  // font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  //   Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  color: #555;
  transition: color 0.3s ease;
  cursor: pointer;
  // color: #bd744c;
  :hover{
    color: #bd744c;
    // color: #8f654f;
  }
}

* {
  box-sizing: border-box;
}

ol,
ol ol,
ol ul,
ul,
ul ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  margin-bottom: 0.5rem;
  font-weight: 400;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

hr {
  border-top: 1px solid #d9d9d9;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

button,
input {
  overflow: visible;
}

table {
  width: 100%;
  margin-bottom: 1rem;
  color: #29323a;
  border-collapse: collapse;

  td {
    vertical-align: middle;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}